<div class="container-fluid my-5 py-5">
    <section>

        <div class="row">

            <div class="col-md-12 col-lg-5 mx-auto mb-4">
                <div class="card primary-color white-text">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div>
                            <p class="h2-responsive font-weight-bold mt-n2 mb-0">150</p>
                            <p class="mb-0">Cadastrar Curso</p>
                        </div>
                        <div>
                            <i class="fas fa-graduation-cap fa-4x text-black-40"></i>
                        </div>
                    </div>
                    <a [routerLink]="['/CadastroCurso']"class="card-footer footer-hover small text-center white-text border-0 p-2">Cadastrar<i
                            class="fas fa-arrow-circle-right pl-2"></i></a>
                </div>
            </div>

            <div class="col-md-12 col-lg-5 mx-auto mb-4">
                <div class="card warning-color white-text">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div>
                            <p class="h2-responsive font-weight-bold mt-n2 mb-0">7</p>
                            <p class="mb-0">Cadastrar professores</p>
                        </div>
                        <div>
                            <i class="fas fa-chalkboard-teacher fa-4x text-black-40"></i>
                        </div>
                    </div>
                    <a [routerLink]="['/CadastroProf']"class="card-footer footer-hover small text-center white-text border-0 p-2">Cadastrar<i
                            class="fas fa-arrow-circle-right pl-2"></i></a>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-md-12 col-lg-5 mx-auto mb-4">
                <div class="card light-blue lighten-1 white-text">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div>
                            <p class="h2-responsive font-weight-bold mt-n2 mb-0">44</p>
                            <p class="mb-0">Cadastro de alunos</p>
                        </div>
                        <div>
                            
                            <i class="fas fa-user-graduate fa-4x text-black-40"></i>
                        </div>
                    </div>
                    <a [routerLink]="['/CadastroAluno']"class="card-footer footer-hover small text-center white-text border-0 p-2">Cadastrar<i
                            class="fas fa-arrow-circle-right pl-2"></i></a>
                </div>
            </div>

            <div class="col-md-12 col-lg-5 mx-auto mb-4">
                <div class="card red accent-2 white-text">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div>
                            <p class="h2-responsive font-weight-bold mt-n2 mb-0">150</p>
                            <p class="mb-0">Cursos mais vistos</p>
                        </div>
                        <div>
                            <i class="fas fa-chart-bar fa-4x text-black-40"></i>
                        </div>
                    </div>
                    <a [routerLink]="['/TopCursos']"class="card-footer footer-hover small text-center white-text border-0 p-2">Saiba mais<i
                            class="fas fa-arrow-circle-right pl-2"></i></a>
                </div>
            </div>

        </div>

    </section>
</div>