<div class="container">
    <h1 class="my-5 text-center">
        Alunos
    </h1>
    <button type="button" class="btn btn-outline-dark black waves-effect"><i class="fas fa-plus pr-2"
            aria-hidden="true"></i>Novo aluno</button>
    <table class="table text-center table-borderless">
        <thead class="black white-text">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
        </tbody>
    </table>
</div>