<div class="container mt-5 mb-5 ">
    <section class="card p-5">
        <div class="row">
            <div class="col-md-5 mb-4 mb-md-0">
                <div class="view">
                    <img src="../../../assets/img/login.svg" class="img-fluid" alt="smaple image">
                </div>
            </div>
            <div class="col-md-6 ml-auto mb-lg-0 mb-4">
                <form class="" action="">
                    <h3 class="font-weight-bold my-3 text-center title">Login</h3>
                    <div class="md-form mt-3">
                        <input type="email" id="email" class="form-control">
                        <label for="email">E-mail</label>
                    </div>
                    <div class="md-form">
                        <input type="password" id="senha" class="form-control">
                        <label for="senha">Senha</label>
                    </div>
                    <button class="btn btn-outline-indigo btn-rounded btn-block z-depth-0 my-4 waves-effect"
                        type="submit">Entrar
                    </button>
                </form>
            </div>
        </div>
    </section>
</div>