<app-navbar></app-navbar>
<app-caroussel></app-caroussel>
<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="title mb-3">Quem somos</h1>
        <p class="lead">Como uma instituição plenamente comprometida com a sociedade, o Garder school, por meio de sua
            ação educacional, enfatiza a importância do desenvolvimento social e procura implementar projetos que
            estimulem a inclusão e a cidadania.
            <br>
            A Política Garder de Concessão de Bolsas de Estudo tem o compromisso de ampliar o investimento anual para
            viabilizar o acesso gratuito do público elegível a diversos cursos.
        </p>
    </div>
    <div class="card-deck text-center">
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title title">Missão</h4>
                <p class="card-text">"Educar para o trabalho em atividades do comércio de bens, serviços e turismo."</p>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title title">Visão</h4>
                <p class="card-text">"Ser a instituição brasileira que oferece as melhores soluções em educação profissional, reconhecida pelas empresas."</p>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title title">Valores</h4>
                <div class="col-12">
                    <div class="row">
                        <div class="col-6"><p class="card-text">Transparência  Inclusão Social  Excelência  Inovação  Atitude</p> </div>
                        <div class="col-6"><p class="card-text">Empreendedora  Educação para Autonomia  Desenvolvimento Sustentável</p><div>
                    </div>
                </div>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
</div>